<div data-ng-controller = "AdminUpdateController as auctrl">
<div class="jumbotron text-left">

<div class ="container">
<h2>Edit Reservation</h2>
	<table class="table table-responsive">
    <thead>
      <tr>
      	
        <th>Table Number</th>
        <th>Capacity</th>
        <th>Status</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="t in auctrl.tables">
     
        <td>{{t.table_no}}</td>
        <td>{{t.capacity}}</td>
        <td>{{t.status}}</td>
        <td><button data-ng-click="auctrl.updateReservations()" >Set Table</button> </td>
        
        
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>